### Write a function that checks whether an element occurs in a list.

In [2]:
function check(n){
    var result;
    var list=[1,2,3,4,5,9,8,7];
    for(i=0;i<list.length;i++){
//         console.log("i =",i,"n =",n,"list =",list[i],"Equal =",list[i]==n);
        if(list[i]==n){
            result = true;
            break;
        } else{
            result =false;
        }
    }
    return result;
}

In [3]:
check(4);

true

### 08000962694

### Find the number of occurences of each letter

a=1
b=1
c=4
d=

In [4]:
var person = {name:'shiva', age:28}

In [5]:
person

{ name: 'shiva', age: 28 }

In [6]:
person.name

'shiva'

In [7]:
person.name='kumar'

'kumar'

In [8]:
person

{ name: 'kumar', age: 28 }

In [9]:
person.age = person.age+1

29

In [10]:
person

{ name: 'kumar', age: 29 }

In [11]:
person.age++

29

In [12]:
person

{ name: 'kumar', age: 30 }

In [13]:
person.lastName = 'pala'

'pala'

In [14]:
;person

{ name: 'kumar', age: 30, lastName: 'pala' }

In [15]:
if(person.job){
    console.log(person.job)
}else{
    person.job = 'SE'
}

'SE'

In [16]:
person

{ name: 'kumar', age: 30, lastName: 'pala', job: 'SE' }

In [17]:
function findOccurence(str){
    let result = {};
    result.str=str;
    console.log(result);
}

In [18]:
findOccurence("Apple");

{ str: 'Apple' }

In [19]:
var word = {T:1,E:1,R:2,N:1,A:1,Y:1};

In [20]:
word.H = 2;

2

In [21]:
word

{ T: 1, E: 1, R: 2, N: 1, A: 1, Y: 1, H: 2 }

In [22]:
word.R++

2

In [23]:
word

{ T: 1, E: 1, R: 3, N: 1, A: 1, Y: 1, H: 2 }

In [24]:
var letter="B";
word[letter]=10;

10

In [25]:
word

{ T: 1, E: 1, R: 3, N: 1, A: 1, Y: 1, H: 2, B: 10 }

In [26]:
var person1 = {
    name: 'siva', age: 29,
    wife: {name: 'Ruchi',age:26},
    mom: {name: 'Rani', age: 54},
    dad: {name: 'Raju', age: 59}
}

In [27]:
console.log(person1.name,person1.wife.name,person1.dad.age);

siva Ruchi 59

In [28]:
person1.wife.job="Automation QA"

'Automation QA'

In [29]:
person1

{ name: 'siva',
  age: 29,
  wife: { name: 'Ruchi', age: 26, job: 'Automation QA' },
  mom: { name: 'Rani', age: 54 },
  dad: { name: 'Raju', age: 59 } }

In [30]:
person1.job="Developer";

'Developer'

In [31]:
person1

{ name: 'siva',
  age: 29,
  wife: { name: 'Ruchi', age: 26, job: 'Automation QA' },
  mom: { name: 'Rani', age: 54 },
  dad: { name: 'Raju', age: 59 },
  job: 'Developer' }

In [32]:
person1.wife= { name: 'Ruchi', age: 26, job: 'Automation QA' }

{ name: 'Ruchi', age: 26, job: 'Automation QA' }

In [33]:
person1.wife.age=18;

18

In [34]:
person1

{ name: 'siva',
  age: 29,
  wife: { name: 'Ruchi', age: 18, job: 'Automation QA' },
  mom: { name: 'Rani', age: 54 },
  dad: { name: 'Raju', age: 59 },
  job: 'Developer' }

In [35]:
person1.wife.mom={name:"Reeta",age:53};

{ name: 'Reeta', age: 53 }

In [36]:
person1

{ name: 'siva',
  age: 29,
  wife:
   { name: 'Ruchi',
     age: 18,
     job: 'Automation QA',
     mom: { name: 'Reeta', age: 53 } },
  mom: { name: 'Rani', age: 54 },
  dad: { name: 'Raju', age: 59 },
  job: 'Developer' }

In [37]:
person1.wife.dad={name:"Vinod",age:52};

{ name: 'Vinod', age: 52 }

In [38]:
person1

{ name: 'siva',
  age: 29,
  wife:
   { name: 'Ruchi',
     age: 18,
     job: 'Automation QA',
     mom: { name: 'Reeta', age: 53 },
     dad: { name: 'Vinod', age: 52 } },
  mom: { name: 'Rani', age: 54 },
  dad: { name: 'Raju', age: 59 },
  job: 'Developer' }

In [42]:
person1.hasOwnProperty('wife')

true

In [45]:
var key = 'L';
if(person1[key]!==null && person1[key]!==undefined){
    console.log(true);
}else{
    console.log(false)
}

false